body {
    background-image: url("../images/start/background.jpg");
}

.headers {
  text-transform: uppercase;
  text-shadow: 0.02605448em -0.02429619em 0em rgba(0, 255, 255, 1.000000),-0.02605448em 0.02429619em 0em rgba(255, 0, 255, 1.000000);
  color: #7843e6;
  font-family: "Bungee";
  font-size: xxx-large;
  line-height: 0.73125046em;
  text-align: center;
  margin-bottom: 2%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}
.member-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 7px solid #7843e6;
    padding: 10px;
    margin-bottom: 2%;
    margin-top: 2%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}


